@media(max-width:375px){
  header h1{
    text-align: center;
    font-size:50px;
    background-image: url(header.jpg);
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    color: whitesmoke;
    -webkit-text-stroke: 2px black;
  }
}

h1{
  color: white;
}
h1 a{
  text-decoration: none;
}

.buttons{
  margin-left: 100px;
}

.button{
  margin-right:25px;
  font-size: 20px;
}

.description h1{
  color: black;
  font-size: 20px;
}

.description p{
  font-size: 12px;
  opacity: 0.8;
}
